* ***REMOVED***
 margin: 0px;
 padding: 0px;
***REMOVED***

body ***REMOVED***
  width: 800px;
  height: 235px;
  background-color:none;
***REMOVED***

/* Container **/
.container ***REMOVED***
  position: relative;
  font-size: 0;
  padding: 0;
  background-image: url('images/bkgd.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 235px;
***REMOVED***


.slide ***REMOVED***
  position: absolute;
  width: 800px;
  display: none;
***REMOVED***

.slide.empty-link a***REMOVED***
  width: 800px;
  height: 235px;
***REMOVED***

.slide.single-imgs .album-thumbnail***REMOVED***
  width: 800px;
  height: 235px;
***REMOVED***

.slide.single-imgs .album-thumbnail:last-of-type***REMOVED***
  width: 800px;
  height: 235px;
***REMOVED***

.slide.single-imgs .album-container***REMOVED***
  margin: 0;
***REMOVED***

.slide.single-imgs .album-set***REMOVED***
  margin-top: 0;
***REMOVED***

.slide .album-thumbnail:first-of-type,
.slide .album-thumbnail:last-of-type***REMOVED***
  height: 150px;
  width: 150px;
***REMOVED***

.slide.three-up .album-container:nth-of-type(3) .album-thumbnail***REMOVED***
  height: 150px;
  width: 150px;
***REMOVED***

.slide.three-up .album-container:first-of-type .album-artist,
.slide.three-up .album-container:last-of-type .album-artist***REMOVED***
  padding: 10px 0;
***REMOVED***

.slide .album-container:nth-of-type(2) .album-thumbnail,
.slide .album-container:nth-of-type(3) .album-thumbnail***REMOVED***
  height: 180px;
  width: 180px;
***REMOVED***

.slide.one-line-text-under .album-container,
.slide.one-line-lrg-images .album-container:first-of-type,
.slide.one-line-lrg-images .album-container:last-of-type,***REMOVED***
  height: 150px;
***REMOVED***

.slide.no-lines-larger-imgs .album-thumbnail:first-of-type,
.slide.no-lines-larger-imgs .album-thumbnail:last-of-type***REMOVED***
  height: 170px;
  width: 170px;
***REMOVED***

.slide.no-lines-larger-imgs .album-container:nth-of-type(2) .album-thumbnail,
.slide.no-lines-larger-imgs .album-container:nth-of-type(3) .album-thumbnail***REMOVED***
  height: 190px;
  width: 190px;
***REMOVED***

.slide.slightly-larger-center-imgs .album-container:nth-of-type(2),
.slide.slightly-larger-center-imgs .album-container:nth-of-type(3)***REMOVED***
    height: 175px;
    margin: -30px 10px 10px 10px;
***REMOVED***

.slide.slightly-larger-center-imgs .album-container:nth-of-type(2) .album-thumbnail,
.slide.slightly-larger-center-imgs .album-container:nth-of-type(3) .album-thumbnail***REMOVED***
  height: 175px;
  width: 175px;
***REMOVED***

.slide.one-line-text-under .album-container .album-thumbnail,
.slide.one-line-lrg-images .album-container:first-of-type .album-thumbnail,
.slide.one-line-lrg-images .album-container:last-of-type .album-thumbnail***REMOVED***
  height: 150px;
  width: 150px;
***REMOVED***

.slide.one-line-lrg-images .album-container***REMOVED***
  height: 180px;
  margin: 0 10px;
***REMOVED***


.slide.one-line-lrg-images .album-container .album-thumbnail***REMOVED***
  height: 180px;
  width: 180px;
***REMOVED***

.content ***REMOVED***

***REMOVED***

.bg-link ***REMOVED***
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
***REMOVED***

/* Headline */
.headline ***REMOVED***
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  padding-top: 6px;
  font-weight: 600;
  letter-spacing: .7px;
  font-family: Helvetica;
  pointer-events: none;
***REMOVED***

/** Headline Hashtag **/
.headline-hashtag ***REMOVED***
  font-size: 17px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: initial;
***REMOVED***

/** Album Set **/
.album-set ***REMOVED***
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1px;
  display: flex;
***REMOVED***


/** Album Container **/
.album-container ***REMOVED***
  position: relative;
  text-align: center;
  margin: 10px;
***REMOVED***


.album-container:hover .listen-now ***REMOVED***
  opacity: 1;
  background: url('images/overlay.png');
  width: 160px;
  height: 160px;
***REMOVED***


.listen-now ***REMOVED***
  opacity: 0;
  position: absolute;
  background-color: black;
***REMOVED***


/** Featuring Text **/
.featuring-text ***REMOVED***
  padding-top: 7px;
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .5px;
  text-align: center;
***REMOVED***

/** Album Artist **/
.album-artist ***REMOVED***
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: .6px;

***REMOVED***
.album-artist2 ***REMOVED***
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: .6px;
  width: 160px;

***REMOVED***

.slide.animated-imgs***REMOVED***
  height: 100%;
***REMOVED***

.slide.animated-imgs .content***REMOVED***
  position: relative;
  height: 100%;
***REMOVED***

.slide.animated-imgs .album-set***REMOVED***
  height: 100%;
***REMOVED***

.slide.animated-imgs .album-container***REMOVED***
  position: relative;
  height: 100%;
***REMOVED***

.slide.animated-imgs .album-container:nth-of-type(1), .slide.animated-imgs .album-container:nth-of-type(4)***REMOVED***
  width: 150px;
***REMOVED***

.slide.animated-imgs .album-container:nth-of-type(2), .slide.animated-imgs .album-container:nth-of-type(3)***REMOVED***
  width: 180px;
***REMOVED***

.slide.animated-imgs .album-container img***REMOVED***
  left: 0;
  position: absolute;
  transform-origin: center center;
***REMOVED***

.slide.animated-imgs .album-container img***REMOVED***
  left: 0;
  position: absolute;
  transform-origin: center center;
***REMOVED***

.slide.animated-imgs .album-container:nth-of-type(1) img, .slide.animated-imgs .album-container:nth-of-type(4) img***REMOVED***
  top: 30px;
***REMOVED***

.slide.animated-imgs .album-container:nth-of-type(2) img, .slide.animated-imgs .album-container:nth-of-type(3) img***REMOVED***
  top: 10px;
***REMOVED***

.slide.animated-imgs .featuring-text***REMOVED***
  position: absolute;
  bottom: 20px;
  width: 100%;
***REMOVED***

.slide.animated-imgs .album-artist***REMOVED***
  position: absolute;
    bottom: 5px;
    width: 100%;
***REMOVED***

.slide.animated-imgs .album-container a***REMOVED***
  width: 100%;
  height: 100%;
  left:0;
  position: absolute;
  z-index: 10;
***REMOVED***

@keyframes breath-1st ***REMOVED***
  0 ***REMOVED***transform: scale(1)***REMOVED***
  12.5% ***REMOVED***transform: scale(1.1)***REMOVED***
  25% ***REMOVED***transform: scale(1)***REMOVED***
***REMOVED***

@keyframes breath-2nd ***REMOVED***
  0 ***REMOVED***transform: scale(1)***REMOVED***
  12.5% ***REMOVED***transform: scale(1.1)***REMOVED***
  25% ***REMOVED***transform: scale(1)***REMOVED***
***REMOVED***

@keyframes breath-3rd ***REMOVED***
  0 ***REMOVED***transform: scale(1)***REMOVED***
  12.5% ***REMOVED***transform: scale(1.1)***REMOVED***
  25% ***REMOVED***transform: scale(1)***REMOVED***
***REMOVED***

@keyframes breath-4th ***REMOVED***
  0 ***REMOVED***transform: scale(1)***REMOVED***
  12.5% ***REMOVED***transform: scale(1.1)***REMOVED***
  25% ***REMOVED***transform: scale(1)***REMOVED***
***REMOVED***

.slide.animated-imgs .album-container:nth-of-type(1) img***REMOVED***
  position: absolute;
  left: 0;
  transform-origin: center center;
  animation: breath-1st 8s ease-in-out 0s infinite;
***REMOVED***
.slide.animated-imgs .album-container:nth-of-type(2) img***REMOVED***
  animation: breath-2nd 8s ease-in-out 2s infinite;
***REMOVED***
.slide.animated-imgs .album-container:nth-of-type(3) img***REMOVED***
  animation: breath-3rd 8s ease-in-out 4s infinite;
***REMOVED***
.slide.animated-imgs .album-container:nth-of-type(4) img***REMOVED***
  animation: breath-4th 8s ease-in-out 6s infinite;
***REMOVED***

.play-btn .album-container:nth-of-type(1), .play-btn .album-container:nth-of-type(4)***REMOVED***
  width: 150px;
  height: 150px;
***REMOVED***

.play-btn .album-container:nth-of-type(2), .play-btn .album-container:nth-of-type(3)***REMOVED***
  width: 180px;
  height: 180px;
***REMOVED***

.play-btn .album-container .album-thumbnail***REMOVED***
  background: center/100% no-repeat;
  transition: all 0.5s ease;
  height: 100%;
***REMOVED***

.play-btn .album-container:nth-of-type(1):hover .album-thumbnail, .play-btn .album-container:nth-of-type(4):hover .album-thumbnail***REMOVED***
  background-size: 120% !important;
***REMOVED***


.play-btn .album-container:nth-of-type(2):hover .album-thumbnail, .play-btn .album-container:nth-of-type(3):hover .album-thumbnail***REMOVED***
  background-size: 120% !important;
***REMOVED***

.play-btn .symbol***REMOVED***
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: url(images/play-btn.svg) center center no-repeat;
  background-size: 40%;
  opacity: 0;
  transition: all 0.5s ease;
***REMOVED***

.play-btn .album-container:hover .symbol***REMOVED***
  opacity: 1;
***REMOVED***

@keyframes glow-1st ***REMOVED***
  0 ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
  12.5% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 1)***REMOVED***
  25% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
***REMOVED***

@keyframes glow-2nd ***REMOVED***
  0 ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
  12.5% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 1)***REMOVED***
  25% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
***REMOVED***

@keyframes glow-3rd ***REMOVED***
  0 ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
  12.5% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 1)***REMOVED***
  25% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
***REMOVED***

@keyframes glow-4th ***REMOVED***
  0 ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
  12.5% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 1)***REMOVED***
  25% ***REMOVED***box-shadow: 0px 0px 15px rgb(255, 255, 255, 0)***REMOVED***
***REMOVED***

.slide.glow .album-container:nth-of-type(1) img***REMOVED***
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  animation: glow-1st 8s ease-in-out 0s infinite;
***REMOVED***
.slide.glow .album-container:nth-of-type(2) img***REMOVED***
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  animation: glow-2nd 8s ease-in-out 2s infinite;
***REMOVED***
.slide.glow .album-container:nth-of-type(3) img***REMOVED***
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  animation: glow-3rd 8s ease-in-out 4s infinite;
***REMOVED***
.slide.glow .album-container:nth-of-type(4) img***REMOVED***
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  animation: glow-4th 8s ease-in-out 6s infinite;
***REMOVED***

.slide .same-size.album-thumbnail:first-of-type, .slide.same-size .album-thumbnail:last-of-type ***REMOVED***
    height: 180px;
    width: 180px;
***REMOVED***
