/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
***REMOVED***

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link ***REMOVED***
  color: #888;
***REMOVED***

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion ***REMOVED***
  color: #ccc;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***
