/* Base16 Atelier Seaside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Seaside Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #809980;
***REMOVED***

/* Atelier-Seaside Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class ***REMOVED***
  color: #e6193c;
***REMOVED***

/* Atelier-Seaside Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params ***REMOVED***
  color: #87711d;
***REMOVED***

/* Atelier-Seaside Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet ***REMOVED***
  color: #29a329;
***REMOVED***

/* Atelier-Seaside Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #3d62f5;
***REMOVED***

/* Atelier-Seaside Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #ad2bee;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #131513;
  color: #8ca68c;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
