/* Base16 Atelier Lakeside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #7195a8;
***REMOVED***

/* Atelier-Lakeside Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class ***REMOVED***
  color: #d22d72;
***REMOVED***

/* Atelier-Lakeside Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params ***REMOVED***
  color: #935c25;
***REMOVED***

/* Atelier-Lakeside Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet ***REMOVED***
  color: #568c3b;
***REMOVED***

/* Atelier-Lakeside Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #257fad;
***REMOVED***

/* Atelier-Lakeside Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #6b6bb8;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #161b1d;
  color: #7ea2b4;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
