/* Base16 Atelier Dune Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Dune Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #999580;
***REMOVED***

/* Atelier-Dune Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class ***REMOVED***
  color: #d73737;
***REMOVED***

/* Atelier-Dune Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params ***REMOVED***
  color: #b65611;
***REMOVED***

/* Atelier-Dune Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet ***REMOVED***
  color: #60ac39;
***REMOVED***

/* Atelier-Dune Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #6684e1;
***REMOVED***

/* Atelier-Dune Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #b854d4;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #20201d;
  color: #a6a28c;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
