/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
***REMOVED***

.hljs-comment,
.hljs-quote ***REMOVED***
  color: #5c6370;
  font-style: italic;
***REMOVED***

.hljs-doctag,
.hljs-keyword,
.hljs-formula ***REMOVED***
  color: #c678dd;
***REMOVED***

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst ***REMOVED***
  color: #e06c75;
***REMOVED***

.hljs-literal ***REMOVED***
  color: #56b6c2;
***REMOVED***

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string ***REMOVED***
  color: #98c379;
***REMOVED***

.hljs-built_in,
.hljs-class .hljs-title ***REMOVED***
  color: #e6c07b;
***REMOVED***

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number ***REMOVED***
  color: #d19a66;
***REMOVED***

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title ***REMOVED***
  color: #61aeee;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***

.hljs-link ***REMOVED***
  text-decoration: underline;
***REMOVED***
