/*

Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
***REMOVED***
.hljs-keyword, .hljs-operator ***REMOVED***
  color: #F92672;
***REMOVED***
.hljs-pattern-match ***REMOVED***
  color: #F92672;
***REMOVED***
.hljs-pattern-match .hljs-constructor ***REMOVED***
  color: #61aeee;
***REMOVED***
.hljs-function ***REMOVED***
  color: #61aeee;
***REMOVED***
.hljs-function .hljs-params ***REMOVED***
  color: #A6E22E;
***REMOVED***
.hljs-function .hljs-params .hljs-typing ***REMOVED***
  color: #FD971F;
***REMOVED***
.hljs-module-access .hljs-module ***REMOVED***
  color: #7e57c2;
***REMOVED***
.hljs-constructor ***REMOVED***
  color: #e2b93d;
***REMOVED***
.hljs-constructor .hljs-string ***REMOVED***
  color: #9CCC65;
***REMOVED***
.hljs-comment, .hljs-quote ***REMOVED***
  color: #b18eb1;
  font-style: italic;
***REMOVED***
.hljs-doctag, .hljs-formula ***REMOVED***
  color: #c678dd;
***REMOVED***
.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst ***REMOVED***
  color: #e06c75;
***REMOVED***
.hljs-literal ***REMOVED***
  color: #56b6c2;
***REMOVED***
.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string ***REMOVED***
  color: #98c379;
***REMOVED***
.hljs-built_in, .hljs-class .hljs-title ***REMOVED***
  color: #e6c07b;
***REMOVED***
.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number ***REMOVED***
  color: #d19a66;
***REMOVED***
.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title ***REMOVED***
  color: #61aeee;
***REMOVED***
.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***
.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
.hljs-link ***REMOVED***
  text-decoration: underline;
***REMOVED***
