/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:#b7a68e url(./brown-papersq.png);
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal ***REMOVED***
  color:#005599;
  font-weight:bold;
***REMOVED***

.hljs,
.hljs-subst ***REMOVED***
  color: #363c69;
***REMOVED***

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link,
.hljs-name ***REMOVED***
  color: #2c009f;
***REMOVED***

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion ***REMOVED***
  color: #802022;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***
