/*

ISBL Editor style light color schemec (c) Dmitriy Tarasov <dimatar@gmail.com>

*/

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
***REMOVED***

/* Base color: saturation 0; */

.hljs-subst ***REMOVED***
  color: black;
***REMOVED***

.hljs-comment ***REMOVED***
  color: #555555;
  font-style: italic;
***REMOVED***

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name ***REMOVED***
  color: #000000;
  font-weight: bold;
***REMOVED***


/* User color: hue: 0 */

.hljs-string ***REMOVED***
  color: #000080;
***REMOVED***

.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion ***REMOVED***
  color: #000000;
***REMOVED***

.hljs-title,
.hljs-section ***REMOVED***
  color: #fb2c00;
***REMOVED***

.hljs-title>.hljs-built_in ***REMOVED***
  color: #008080;
  font-weight: normal;
***REMOVED***

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo ***REMOVED***
  color: #5e1700;
***REMOVED***

/* Language color: hue: 90; */

.hljs-built_in,
.hljs-literal ***REMOVED***
  color: #000080;
  font-weight: bold;
***REMOVED***

.hljs-bullet,
.hljs-code,
.hljs-addition ***REMOVED***
  color: #397300;
***REMOVED***

.hljs-class  ***REMOVED***
  color: #6f1C00;
  font-weight: bold;
***REMOVED***

/* Meta color: hue: 200 */

.hljs-meta ***REMOVED***
  color: #1f7199;
***REMOVED***

.hljs-meta-string ***REMOVED***
  color: #4d99bf;
***REMOVED***


/* Misc effects */

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
