/*
  Five-color theme from a single blue hue.
*/
.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
  color: #00193a;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***

.hljs-comment ***REMOVED***
  color: #738191;
***REMOVED***

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class ***REMOVED***
  color: #0048ab;
***REMOVED***

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet ***REMOVED***
  color: #4c81c9;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***
