/*
    Paraíso (dark)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #8d8687;
***REMOVED***

/* Paraíso Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta ***REMOVED***
  color: #ef6155;
***REMOVED***

/* Paraíso Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion ***REMOVED***
  color: #f99b15;
***REMOVED***

/* Paraíso Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute ***REMOVED***
  color: #fec418;
***REMOVED***

/* Paraíso Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition ***REMOVED***
  color: #48b685;
***REMOVED***

/* Paraíso Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #815ba4;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #2f1e2e;
  color: #a39e9b;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
