/*

Qt Creator dark color scheme

*/


.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000000;
***REMOVED***

.hljs,
.hljs-subst,
.hljs-tag,
.hljs-title ***REMOVED***
  color: #aaaaaa;
***REMOVED***

.hljs-strong,
.hljs-emphasis ***REMOVED***
  color: #a8a8a2;
***REMOVED***

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal ***REMOVED***
  color: #ff55ff;
***REMOVED***

.hljs-code
.hljs-selector-class ***REMOVED***
  color: #aaaaff;
***REMOVED***

.hljs-emphasis,
.hljs-stronge,
.hljs-type ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-function,
.hljs-section,
.hljs-symbol,
.hljs-name ***REMOVED***
  color: #ffff55;
***REMOVED***

.hljs-attribute ***REMOVED***
  color: #ff5555;
***REMOVED***

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title ***REMOVED***
  color: #8888ff;
***REMOVED***

.hljs-string,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-link ***REMOVED***
  color: #ff55ff;
***REMOVED***

.hljs-comment,
.hljs-meta,
.hljs-deletion ***REMOVED***
  color: #55ffff;
***REMOVED***
