/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 11px;
  line-height:16px;
  background:#f6f6ae url(./school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal ***REMOVED***
  color:#005599;
  font-weight:bold;
***REMOVED***

.hljs,
.hljs-subst ***REMOVED***
  color: #3e5915;
***REMOVED***

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link ***REMOVED***
  color: #2c009f;
***REMOVED***

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta ***REMOVED***
  color: #e60415;
***REMOVED***

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***
