/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #8e908c;
***REMOVED***

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion ***REMOVED***
  color: #c82829;
***REMOVED***

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link ***REMOVED***
  color: #f5871f;
***REMOVED***

/* Tomorrow Yellow */
.hljs-attribute ***REMOVED***
  color: #eab700;
***REMOVED***

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition ***REMOVED***
  color: #718c00;
***REMOVED***

/* Tomorrow Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #4271ae;
***REMOVED***

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #8959a8;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
