/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #999999;
***REMOVED***

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion ***REMOVED***
  color: #f2777a;
***REMOVED***

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link ***REMOVED***
  color: #f99157;
***REMOVED***

/* Tomorrow Yellow */
.hljs-attribute ***REMOVED***
  color: #ffcc66;
***REMOVED***

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition ***REMOVED***
  color: #99cc99;
***REMOVED***

/* Tomorrow Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #6699cc;
***REMOVED***

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #cc99cc;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
