/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote ***REMOVED***
  color: #969896;
***REMOVED***

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion ***REMOVED***
  color: #cc6666;
***REMOVED***

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link ***REMOVED***
  color: #de935f;
***REMOVED***

/* Tomorrow Yellow */
.hljs-attribute ***REMOVED***
  color: #f0c674;
***REMOVED***

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition ***REMOVED***
  color: #b5bd68;
***REMOVED***

/* Tomorrow Blue */
.hljs-title,
.hljs-section ***REMOVED***
  color: #81a2be;
***REMOVED***

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag ***REMOVED***
  color: #b294bb;
***REMOVED***

.hljs ***REMOVED***
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
***REMOVED***

.hljs-emphasis ***REMOVED***
  font-style: italic;
***REMOVED***

.hljs-strong ***REMOVED***
  font-weight: bold;
***REMOVED***
