<!DOCTYPE html>
<html>

  <head>
    <title>[date] HPTO</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container" style="display:inline-block;">
      [slides]
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="script.js"></script>
    <script>

      (function(i,s,o,g,r,a,m)***REMOVED***i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()***REMOVED***
        (i[r].q=i[r].q||[]).push(arguments)***REMOVED***,i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      ***REMOVED***)(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75422371-3', ***REMOVED***cookieFlags: 'secure;samesite=none'***REMOVED***);
      ga('send', 'pageview');

      var category = 'HPTO'
      var linkContainer = '.album-container'

      window.ga('send', 'event', ***REMOVED***
        eventCategory: category,
        eventAction: 'Impression',
        eventLabel: 'HPTO'
      ***REMOVED***);

      var trackOutboundLink = function() ***REMOVED***
        var uri = this.href;
        var playlist = this.getAttribute('data-playlist');
        ga('send', 'event', 'category', 'click', playlist, ***REMOVED***
          'transport': 'beacon',
          'hitCallback': function()***REMOVED***document.location = uri;***REMOVED***
        ***REMOVED***);
        return false;
      ***REMOVED***

      var trackBgClicks = function() ***REMOVED***
        var uri = this.href;
        ga('send', 'event', 'category', 'click', 'filtr brand page', ***REMOVED***
          'transport': 'beacon',
          'hitCallback': function()***REMOVED***document.location = uri;***REMOVED***
        ***REMOVED***);
        return false;
      ***REMOVED***

      var bgClicks = document.querySelectorAll('.bg-link');
      for (var i = 0; i < bgClicks.length; i++) ***REMOVED***
        bgClicks[i].addEventListener('click', trackBgClicks);
      ***REMOVED***

      var trackedLinks = document.querySelectorAll(linkContainer + ' a');
      for (var i=0; i<trackedLinks.length;i++) ***REMOVED***
        trackedLinks[i].addEventListener('click',trackOutboundLink);
      ***REMOVED***

    </script>

  </body>

</html>
