<!------------ BEGIN SLIDES ------------>
              <div class="slide [SLIDE NUMBER] tv">
              	<svg class="snow">
				  <filter id="noise">
				    <feTurbulence id="turbulence">
				      <animate
				        attributeName="baseFrequency"
				        dur="50s"
				        values="0.9 0.9;0.8 0.8; 0.9 0.9"
				        repeatCount="indefinite"
				      ></animate>
				    </feTurbulence>
				    <feDisplacementMap in="SourceGraphic" scale="60"></feDisplacementMap>
				  </filter>
				</svg>
				<div class="content">
                  <a href="[PLAYLIST URI MAIN]" class="bg-link" data-playlist="[PLAYLIST URI MAIN]" onclick="ClickEventPlaylist(this); return false;"></a>
                  <div class="album-set">


                  	<!------------ BEGIN SLIDE ------------>
                  	<div class="album-container">
		              <a href="[PLAYLIST URI 1]" data-playlist="[PLAYLIST URI 1]" onclick="ClickEventPlaylist(this); return false;">
		               <div class="listen-now"></div>
		              </a>

		              <svg version="1.1" class="highlight" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.33 143.09" style="enable-background:new 0 0 181.33 143.09;" xml:space="preserve">
		                <style type="text/css">
		                  .st0{fill:#FFFFFF;}
		                </style>
		                <path class="st0" d="M5.33,55.83c0,0,2.44-23.44,9.78-35.36c5.85-9.5,38.12-11.51,38.12-11.51S19.61,19.65,5.33,55.83z"/>
		              </svg>

		              <div class="snow-holder-window-slice">
		                <div class="snow-holder-area-1">
		                  <div class="snow-holder"></div>
		                </div>
		              </div>

		              <div class="all-snow-1">
		                <div class="snow-holder-window">
		                  <div class="snow-holder"></div>
		                </div>
		                <svg class="coverWclipping-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                  <defs>
		                    <clipPath id="maskBackgroundForSnow" clipPathUnits="userSpaceOnUse">
		                      <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z" />                    
		                    </clipPath>
		                  </defs>
		                </svg>
		              </div>

		              <div class="image-holder">
		                <div class="play-word-holder" id="play-word-holder-1">
		                  <svg version="1.1" class="play-word" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st0{fill:#FFFFFF;}
		                  </style>
		                  <g>
		                    <path class="st0" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st0" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st0" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st1{fill:#0078FF;}
		                  </style>
		                  <g>
		                    <path class="st1" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st1" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st1" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st2{fill:#FF0000;}
		                  </style>
		                  <g>
		                    <path class="st2" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st2" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st2" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                </div>
		                <image class="maskedImageOverlay" width="180" height="180" src="[IMAGE 1]" />
		                <image class="maskedImageTop-1" width="180" height="180" src="[IMAGE 1]" />
		                <image class="maskedImageBottom" width="180" height="180" src="[IMAGE 1]" />
		              </div>

		              <svg class="coverWclipping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                <defs>
		                  <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
		                    <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z"/>
		                  </clipPath>
		                </defs>
		              </svg>
		              <div class="featuring-text">[TEXT LINE 1 1]</div>
		              <div class="album-artist">[TEXT LINE 2 1]</div>
		              <div class="album-artist2">&nbsp;</div>
		            </div>
		            <!---------------- END SLIDE -------------->
		            <!------------ BEGIN SLIDE ------------>
		            <div class="album-container">
		              <a href="[PLAYLIST URI 2]" data-playlist="[PLAYLIST URI 2]" onclick="ClickEventPlaylist(this); return false;">
		               <div class="listen-now"></div>
		              </a>

		              <svg version="1.1" class="highlight" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.33 143.09" style="enable-background:new 0 0 181.33 143.09;" xml:space="preserve">
		                <style type="text/css">
		                  .st0{fill:#FFFFFF;}
		                </style>
		                <path class="st0" d="M5.33,55.83c0,0,2.44-23.44,9.78-35.36c5.85-9.5,38.12-11.51,38.12-11.51S19.61,19.65,5.33,55.83z"/>
		              </svg>

		              <div class="snow-holder-window-slice">
		                <div class="snow-holder-area-2">
		                  <div class="snow-holder"></div>
		                </div>
		              </div>

		              <div class="all-snow-2">
		                <div class="snow-holder-window">
		                  <div class="snow-holder"></div>
		                </div>
		                <svg class="coverWclipping-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                  <defs>
		                    <clipPath id="maskBackgroundForSnow" clipPathUnits="userSpaceOnUse">
		                      <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z" />                    
		                    </clipPath>
		                  </defs>
		                </svg>
		              </div>

		              <div class="image-holder">
		                <div class="play-word-holder" id="play-word-holder-2">
		                  <svg version="1.1" class="play-word" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st0{fill:#FFFFFF;}
		                  </style>
		                  <g>
		                    <path class="st0" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st0" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st0" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st1{fill:#0078FF;}
		                  </style>
		                  <g>
		                    <path class="st1" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st1" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st1" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st2{fill:#FF0000;}
		                  </style>
		                  <g>
		                    <path class="st2" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st2" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st2" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                </div>
		                <image class="maskedImageOverlay two" width="180" height="180" src="[IMAGE 2]" />
		                <image class="maskedImageTop-2" width="180" height="180" src="[IMAGE 2]" />
		                <image class="maskedImageBottom" width="180" height="180" src="[IMAGE 2]" />
		              </div>

		              <svg class="coverWclipping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                <defs>
		                  <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
		                    <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z"/>
		                  </clipPath>
		                </defs>
		              </svg>
		              <div class="featuring-text">[TEXT LINE 1 2]</div>
		              <div class="album-artist">[TEXT LINE 2 2]</div>
		              <div class="album-artist2">&nbsp;</div>
		            </div>
		            <!---------------- END SLIDE -------------->
		            <!------------ BEGIN SLIDE ------------>
		          	<div class="album-container">
		              <a href="[PLAYLIST URI 3]" data-playlist="[PLAYLIST URI 3]" onclick="ClickEventPlaylist(this); return false;">
		               <div class="listen-now"></div>
		              </a>

		              <svg version="1.1" class="highlight" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.33 143.09" style="enable-background:new 0 0 181.33 143.09;" xml:space="preserve">
		                <style type="text/css">
		                  .st0{fill:#FFFFFF;}
		                </style>
		                <path class="st0" d="M5.33,55.83c0,0,2.44-23.44,9.78-35.36c5.85-9.5,38.12-11.51,38.12-11.51S19.61,19.65,5.33,55.83z"/>
		              </svg>

		              <div class="snow-holder-window-slice">
		                <div class="snow-holder-area-3">
		                  <div class="snow-holder"></div>
		                </div>
		              </div>

		              <div class="all-snow-3">
		                <div class="snow-holder-window">
		                  <div class="snow-holder"></div>
		                </div>
		                <svg class="coverWclipping-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                  <defs>
		                    <clipPath id="maskBackgroundForSnow" clipPathUnits="userSpaceOnUse">
		                      <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z" />                    
		                    </clipPath>
		                  </defs>
		                </svg>
		              </div>

		              <div class="image-holder">
		                <div class="play-word-holder" id="play-word-holder-3">
		                  <svg version="1.1" class="play-word" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st0{fill:#FFFFFF;}
		                  </style>
		                  <g>
		                    <path class="st0" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st0" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st0" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st1{fill:#0078FF;}
		                  </style>
		                  <g>
		                    <path class="st1" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st1" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st1" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st2{fill:#FF0000;}
		                  </style>
		                  <g>
		                    <path class="st2" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st2" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st2" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                </div>
		                <image class="maskedImageOverlay" width="180" height="180" src="[IMAGE 3]" />
		                <image class="maskedImageTop-3" width="180" height="180" src="[IMAGE 3]" />
		                <image class="maskedImageBottom" width="180" height="180" src="[IMAGE 3]" />
		              </div>

		              <svg class="coverWclipping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                <defs>
		                  <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
		                    <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z"/>
		                  </clipPath>
		                </defs>
		              </svg>
		              <div class="featuring-text">[TEXT LINE 1 3]</div>
		              <div class="album-artist">[TEXT LINE 2 3]</div>
		              <div class="album-artist2">&nbsp;</div>
		            </div>
		            <!---------------- END SLIDE -------------->
		            <!------------ BEGIN SLIDE ------------>
		          	<div class="album-container">
		              <a href="[PLAYLIST URI 4]" data-playlist="[PLAYLIST URI 4]" onclick="ClickEventPlaylist(this); return false;">
		               <div class="listen-now"></div>
		              </a>

		              <svg version="1.1" class="highlight" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181.33 143.09" style="enable-background:new 0 0 181.33 143.09;" xml:space="preserve">
		                <style type="text/css">
		                  .st0{fill:#FFFFFF;}
		                </style>
		                <path class="st0" d="M5.33,55.83c0,0,2.44-23.44,9.78-35.36c5.85-9.5,38.12-11.51,38.12-11.51S19.61,19.65,5.33,55.83z"/>
		              </svg>

		              <div class="snow-holder-window-slice">
		                <div class="snow-holder-area-4">
		                  <div class="snow-holder"></div>
		                </div>
		              </div>

		              <div class="all-snow-4">
		                <div class="snow-holder-window">
		                  <div class="snow-holder"></div>
		                </div>
		                <svg class="coverWclipping-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                  <defs>
		                    <clipPath id="maskBackgroundForSnow" clipPathUnits="userSpaceOnUse">
		                      <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z" />                    
		                    </clipPath>
		                  </defs>
		                </svg>
		              </div>

		              <div class="image-holder">
		                <div class="play-word-holder" id="play-word-holder-4">
		                  <svg version="1.1" class="play-word" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st0{fill:#FFFFFF;}
		                  </style>
		                  <g>
		                    <path class="st0" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st0" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st0" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st1{fill:#0078FF;}
		                  </style>
		                  <g>
		                    <path class="st1" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st1" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st1" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                <svg version="1.1" class="play-word-red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   viewBox="0 0 211 51" style="enable-background:new 0 0 211 51;" xml:space="preserve">
		                  <style type="text/css">
		                    .st2{fill:#FF0000;}
		                  </style>
		                  <g>
		                    <path class="st2" d="M6.55,29.39v21.09h-7.03V1.27h28.12v3.52h3.52V8.3h3.52v14.06h-3.52v3.52h-3.52v3.52H6.55z M6.55,8.3v14.06
		                      h17.58v-3.52h3.52v-7.03h-3.52V8.3H6.55z"/>
		                    <path class="st0" d="M41.7,50.48V1.27h7.03v42.19h28.12v7.03H41.7z"/>
		                    <path class="st0" d="M90.92,50.48h-7.03V15.33h3.52v-3.52h3.52V8.3h3.52V4.78h3.52V1.27h7.03v3.52h3.52V8.3h3.52v3.52h3.52v3.52
		                      h3.52v35.16h-7.03V36.42H90.92V50.48z M90.92,29.39h21.09V18.84h-3.52v-3.52h-3.52v-3.52h-7.03v3.52h-3.52v3.52h-3.52V29.39z"/>
		                    <path class="st2" d="M147.17,50.48h-7.03V32.91h-3.52v-3.52h-3.52v-3.52h-3.52v-3.52h-3.52V1.27h7.03v17.58h3.52v3.52h3.52v3.52
		                      h7.03v-3.52h3.52v-3.52h3.52V1.27h7.03v21.09h-3.52v3.52h-3.52v3.52h-3.52v3.52h-3.52V50.48z"/>
		                  </g>
		                  <polygon class="st2" points="180.5,26.47 180.5,0.2 195.75,13.33 211,26.47 195.75,39.6 180.5,52.74 "/>
		                </svg>
		                </div>
		                <image class="maskedImageOverlay" width="180" height="180" src="[IMAGE 4]" />
		                <image class="maskedImageTop-4" width="180" height="180" src="[IMAGE 4]" />
		                <image class="maskedImageBottom" width="180" height="180" src="[IMAGE 4]" />
		              </div>

		              <svg class="coverWclipping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.28 179.92" width="180.28" class="image">
		                <defs>
		                  <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
		                    <path d="M14.09,10.4c0,0,65.27-20.47,151.23-1.99c0,0,3.88,0.21,5.85,10.24c2.15,10.9,17.45,65.02,1.98,139.41 c0,0-1.44,9.65-7.9,12.32c-11.47,2.55-78.3,19.67-151.06,0c0,0-5.45-3.47-6.26-11.01c-1.62-9.8-16.97-63.28,0-137.64 C7.95,21.73,10.33,10.87,14.09,10.4z"/>
		                  </clipPath>
		                </defs>
		              </svg>
		              <div class="featuring-text">[TEXT LINE 1 4]</div>
		              <div class="album-artist">[TEXT LINE 2 4]</div>
		              <div class="album-artist2">&nbsp;</div>
		            </div>
		            <!---------------- END SLIDE -------------->
                </div>
              </div>
<!---------------- END SLIDES -------------->
