* {
 margin: 0px;
 padding: 0px;
}

body {
  width: 800px;
  height: 235px;
  background-color: #000000;
}

/* Container **/
.container {
  position: relative;
  font-size: 0;
  padding: 0;
  background-image: url('images/bkgd.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 235px;
}

.snow{
  display: none;
}


.slide {
  position: absolute;
  width: 800px;
  height: 235px;
  display: none;
}

.slide.empty-link a{
  width: 800px;
  height: 235px;
}

.slide.single-imgs .album-thumbnail{
  width: 800px;
  height: 235px;
}

.slide.single-imgs .album-thumbnail:last-of-type{
  width: 800px;
  height: 235px;
}

.slide.single-imgs .album-container{
  margin: 0;
}

.slide.single-imgs .album-set{
  margin-top: 0;
}

.slide .album-thumbnail:first-of-type,
.slide .album-thumbnail:last-of-type{
  height: 150px;
  width: 150px;
}

.slide.three-up .album-container:nth-of-type(3) .album-thumbnail{
  height: 150px;
  width: 150px;
}

.slide.three-up .album-container:first-of-type .album-artist,
.slide.three-up .album-container:last-of-type .album-artist{
  padding: 10px 0;
}

.slide .album-container:nth-of-type(2) .album-thumbnail,
.slide .album-container:nth-of-type(3) .album-thumbnail{
  height: 180px;
  width: 180px;
}

.slide.one-line-text-under .album-container,
.slide.one-line-lrg-images .album-container:first-of-type,
.slide.one-line-lrg-images .album-container:last-of-type,{
  height: 150px;
}

.slide.no-lines-larger-imgs .album-thumbnail:first-of-type,
.slide.no-lines-larger-imgs .album-thumbnail:last-of-type{
  height: 170px;
  width: 170px;
}

.slide.no-lines-larger-imgs .album-container:nth-of-type(2) .album-thumbnail,
.slide.no-lines-larger-imgs .album-container:nth-of-type(3) .album-thumbnail{
  height: 190px;
  width: 190px;
}

.slide.slightly-larger-center-imgs .album-container:nth-of-type(2),
.slide.slightly-larger-center-imgs .album-container:nth-of-type(3){
    height: 175px;
    margin: -30px 10px 10px 10px;
}

.slide.slightly-larger-center-imgs .album-container:nth-of-type(2) .album-thumbnail,
.slide.slightly-larger-center-imgs .album-container:nth-of-type(3) .album-thumbnail{
  height: 175px;
  width: 175px;
}

.slide.one-line-text-under .album-container .album-thumbnail,
.slide.one-line-lrg-images .album-container:first-of-type .album-thumbnail,
.slide.one-line-lrg-images .album-container:last-of-type .album-thumbnail{
  height: 150px;
  width: 150px;
}

.slide.one-line-lrg-images .album-container{
  height: 180px;
  margin: 0 10px;
}


.slide.one-line-lrg-images .album-container .album-thumbnail{
  height: 180px;
  width: 180px;
}

.content {

}

.bg-link {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

/* Headline */
.headline {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  padding-top: 6px;
  font-weight: 600;
  letter-spacing: .7px;
  font-family: Helvetica;
  pointer-events: none;
}

.container .hover-text.no-headline .headline{
  font-size: 9px;
}

/** Headline Hashtag **/
.headline-hashtag {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: initial;
}

/** Album Set **/
.album-set {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1px;
  display: flex;
}


/** Album Container **/
.album-container {
  position: relative;
  text-align: center;
  margin: 10px;
}


.album-container:hover .listen-now {
  opacity: 1;
  background: url('images/overlay.png');
  width: 160px;
  height: 160px;
}


.listen-now {
  opacity: 0;
  position: absolute;
  background-color: black;
}


/** Featuring Text **/
.featuring-text {
  padding-top: 7px;
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .5px;
  text-align: center;
}

/** Album Artist **/
.album-artist {
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: .6px;

}
.album-artist2 {
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: .6px;
  width: 160px;

}

.slide.animated-imgs{
  height: 100%;
}

.slide.animated-imgs .content{
  position: relative;
  height: 100%;
}

.slide.animated-imgs .album-set{
  height: 100%;
}

.slide.animated-imgs .album-container{
  position: relative;
  height: 100%;
}

.slide.animated-imgs .album-container:nth-of-type(1), .slide.animated-imgs .album-container:nth-of-type(4){
  width: 150px;
}

.slide.animated-imgs .album-container:nth-of-type(2), .slide.animated-imgs .album-container:nth-of-type(3){
  width: 180px;
}

.slide.animated-imgs .album-container img{
  left: 0;
  position: absolute;
  transform-origin: center center;
}

.slide.animated-imgs .album-container img{
  left: 0;
  position: absolute;
  transform-origin: center center;
}

.slide.animated-imgs .album-container:nth-of-type(1) img, .slide.animated-imgs .album-container:nth-of-type(4) img{
  top: 30px;
}

.slide.animated-imgs .album-container:nth-of-type(2) img, .slide.animated-imgs .album-container:nth-of-type(3) img{
  top: 10px;
}

.slide.animated-imgs .featuring-text{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.slide.animated-imgs .album-artist{
  position: absolute;
    bottom: 5px;
    width: 100%;
}

.slide.animated-imgs .album-container:nth-of-type(1) .featuring-text, .slide.animated-imgs .album-container:nth-of-type(4) .featuring-text{
  position: absolute;
  bottom: 32px;
  width: 100%;
}

.slide.animated-imgs .album-container:nth-of-type(1) .album-artist, .slide.animated-imgs .album-container:nth-of-type(4) .album-artist{
  position: absolute;
  bottom: 17px;
  width: 100%;
}

.slide.animated-imgs .album-container:nth-of-type(1) .album-artist2, .slide.animated-imgs .album-container:nth-of-type(4) .album-artist2{
  position: absolute;
  bottom: 4px;
  width: 100%;
}

.slide.animated-imgs .album-container a{
  width: 100%;
  height: 100%;
  left:0;
  position: absolute;
  z-index: 10;
}

@keyframes breath-1st {
  0 {transform: scale(1)}
  12.5% {transform: scale(1.1)}
  25% {transform: scale(1)}
}

@keyframes breath-2nd {
  0 {transform: scale(1)}
  12.5% {transform: scale(1.1)}
  25% {transform: scale(1)}
}

@keyframes breath-3rd {
  0 {transform: scale(1)}
  12.5% {transform: scale(1.1)}
  25% {transform: scale(1)}
}

@keyframes breath-4th {
  0 {transform: scale(1)}
  12.5% {transform: scale(1.1)}
  25% {transform: scale(1)}
}

.slide.animated-imgs .album-container:nth-of-type(1) img{
  position: absolute;
  left: 0;
  transform-origin: center center;
  animation: breath-1st 8s ease-in-out 0s infinite;
}
.slide.animated-imgs .album-container:nth-of-type(2) img{
  animation: breath-2nd 8s ease-in-out 2s infinite;
}
.slide.animated-imgs .album-container:nth-of-type(3) img{
  animation: breath-3rd 8s ease-in-out 4s infinite;
}
.slide.animated-imgs .album-container:nth-of-type(4) img{
  animation: breath-4th 8s ease-in-out 6s infinite;
}

.slide.slider{
  overflow: hidden;
}
.container .slide.slider .album-thumbnail:first-of-type, .container .slide.slider .album-thumbnail:last-of-type {
    height: 180px;
    width: 180px;
}
.container .slide.slider .album-container:nth-of-type(1), .container .slide.slider .album-container:nth-of-type(4){
  padding-top: 0;
  width: 180px;
}
.slide.slider .album-container {
  margin: 10px 5px;
}
.slide.slider{
  position: relative;
}
.slider .content{
  position: absolute;
  left: -170px;
  transition: left 0.8s ease-in-out;
}

.slide.hover-text .album-container .overlay{
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: rgb(0, 0, 0, .8);
  cursor: pointer;
  top: 0;
}

.slide.hover-text .album-container:hover .overlay{
  opacity: 1;
}

.slide.hover-text .album-container img{
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0);
  transition: all 0.8s ease-in-out;
}

.slide.hover-text .album-container:hover img{
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 1);
}

.slide.hover-text .album-thumbnail:first-of-type, .slide.hover-text .album-thumbnail:last-of-type {
  height: 180px;
  width: 180px;
}

.slide.hover-text .album-container .overlay{
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.slide.hover-text .album-container:hover .overlay{
  opacity: 1;
}

.slide.one-image-text .album-container .album-info{
  display: flex;
  flex-direction: row;
}

.slide.one-image-text .album-thumbnail, .slide.one-image-text .img{
  height: 215px;
  width: 215px;
}

.slide.one-image-text .featuring-text, .slide.one-image-text .featuring-text2{
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}

.slide.one-image-text .album-artist, .slide.one-image-text .album-artist2{
  text-align: left;
}

.slide.one-image-text .img{
  cursor: pointer;
}

.slide.one-image-text .img .listen-now{
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: absolute;
  position: absolute;
  z-index: 10;
  height: 215px;
  width: 215px;
  background: transparent;
  color: white;
  font-size: 17px;
  top: 40%;
}

.slide.one-image-text .img .overlay{
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: absolute;
  height: 215px;
  width: 215px;
  z-index: 5;
  background-color: black;
}
.slide.one-image-text .img:hover .listen-now{
  opacity: 1;
}
.slide.one-image-text .img:hover .overlay{
  opacity: .7;
}

.slide.one-image-text .album-container .info{
  flex-basis: 60%;
  padding-left: 20px;
}

.slide.tv .album-container{
  position: relative;
}

.slide.tv .album-container a{
  background: #000000 url(filter-logo.png) no-repeat center;
  background-size: 50%;
  opacity: 0;
  transition: opacity .3s;
  width: 180px;
  height: 180px;
  display: block;
  position: absolute;
  z-index: 100;
}

.slide.tv .album-container:hover a{
  opacity: .7;
}

.slide.tv .album-thumbnail:first-of-type, .slide.tv .album-thumbnail:last-of-type{
  height: 180px;
  width: 180px;
}

.slide.tv .album-container{
  position: relative;
}

.slide.tv .coverWclipping{
  position: relative;
  z-index: 0;
}

.slide.tv .all-snow-1{
  position: absolute;
  z-index: 5;
  animation: noSnow 0s linear 1s 1 normal forwards;
}

.slide.tv .all-snow-2{
  position: absolute;
  z-index: 5;
  animation: noSnow 0s linear 1.3s 1 normal forwards;
}

.slide.tv .all-snow-3{
  position: absolute;
  z-index: 5;
  animation: noSnow 0s linear 1.6s 1 normal forwards;
}

.slide.tv .all-snow-4{
  position: absolute;
  z-index: 5;
  animation: noSnow 0s linear 1.9s 1 normal forwards;
}

@keyframes noSnow{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide.tv .image-holder{
  width: 180px;
  height: 180px;
  clip-path: url(#maskBackground);
  position: absolute;
}

.slide.tv .image-holder .play-word-holder{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.slide.tv .image-holder #play-word-holder-1{
  animation-name: imageJump;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-delay: 7s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.slide.tv .image-holder #play-word-holder-2{
  animation-name: jumpAroundTop, panUpImage;
  animation-duration: .2s, .3s;
  animation-timing-function: linear, linear;
  animation-delay: 14s, 14.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}

.slide.tv .image-holder #play-word-holder-3{
  animation-name: flicker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}

.slide.tv .image-holder #play-word-holder-4{
  animation-name: jumpAroundTop, panUpImage;
  animation-duration: .2s, .3s;
  animation-timing-function: linear, linear;
  animation-delay: 3s, 3.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}

.slide.tv .image-holder .play-word{
  position: absolute;
  left: 0;
  z-index: 20;
  width: 30%;
}

.slide.tv .image-holder .play-word-blue{
  position: absolute;
  left: -2px;
  z-index: 10;
  opacity: .2;
  width: 30%;
}

.slide.tv .image-holder .play-word-red{
  position: absolute;
  left: 2px;
  z-index: 0;
  opacity: .2;
  width: 30%;
}


.slide.tv .image-holder .maskedImageOverlay{
  position: absolute;
  top: -2px;
  left: 2px;
  width: 180px;
  height: 180px;
  background-size: 100%;
  opacity: .3;
  mix-blend-mode: hard-light;
  z-index: 10;
  display: block;
  filter: hue-rotate(144deg);
}

.slide.tv .image-holder .maskedImageTop-1{
  animation-name: imageJump;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-delay: 7s;
  animation-iteration-count: 1;
  animation-direction: normal;
  position: relative;
  z-index: 0;
}

.slide.tv .image-holder .maskedImageTop-2{
  animation-name: jumpAroundTop, panUpImage;
  animation-duration: .2s, .3s;
  animation-timing-function: linear, linear;
  animation-delay: 14s, 14.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  position: relative;
  z-index: 0;
}

.slide.tv .image-holder .maskedImageOverlay.two{
  animation-name: jumpAroundTop, panUpImage;
  animation-duration: .2s, .3s;
  animation-timing-function: linear, linear;
  animation-delay: 14s, 14.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  position: absolute;
  z-index: 5;
}

.slide.tv .image-holder .maskedImageTop-3{
  animation-name: flicker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  position: relative;
  z-index: 0;
}

.slide.tv .image-holder .maskedImageTop-4{
  animation-name: jumpAroundTop, panUpImage;
  animation-duration: .2s, .3s;
  animation-timing-function: linear, linear;
  animation-delay: 3s, 3.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  position: relative;
  z-index: 0;
}

@keyframes jumpAroundTop{
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -30px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes panUpImage{
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -180px;
  }
}


@keyframes flicker{
  0% {
  opacity: 0.4;
  }
  5% {
  opacity: 0.5;
  }
  10% {
  opacity: 0.6;
  }
  15% {
  opacity: 0.85;
  }
  25% {
  opacity: 0.5;
  }
  30% {
  opacity: 1;
  }
  35% {
  opacity: 0.1;
  }
  40% {
  opacity: 0.25;
  }
  45% {
  opacity: 0.5;
  }
  60% {
  opacity: 1;
  }
  70% {
  opacity: 0.85;
  }
  80% {
  opacity: 0.4;
  }
  90% {
  opacity: 0.5;
  }
  100% {
  opacity: 1;
  }
}

@keyframes imageJump{
  10%{
    transform: translateX(10px);
    filter: blur(3px);
  }
  20%{
    transform: translateX(4px);
    filter: blur(0);
  }
  30%{
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px);
  }
  40%{
    transform: translateX(7px);
    filter: blur(0);
  }
  50%{
    transform: translateX(3px);
  }
  60%{
    transform: translateX(2px);
    filter: blur(5px);
  }
  70%{
    transform: translateX(-2px);
    filter: blur(0);
  }
  80%{
    transform: translateX(3px);
    filter: blur(2px);
  }
  90%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(3px);
  }
}

.slide.tv .highlight{
  opacity: .5;
  position: absolute;
  z-index: 10;
}

.snow{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide.tv .snow-holder-window{
  width: 180px;
  height: 180px;
  clip-path: url(#maskBackgroundForSnow);
  z-index: 5;
  position: absolute;
}

.slide.tv .snow-holder-window-slice{
  width: 180px;
  height: 180px;
  clip-path: url(#maskBackgroundForSnow);
  z-index: 5;
  position: absolute;
}

.slide.tv .snow-holder-window-slice .snow-holder-area-1{
  height: 15px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 180px;
  opacity: 0;
  /* animation-name: jumpSnow, panUpSnow, dessolveBottomSnow;
  animation-duration: .1s, .3s, 1s;
  animation-timing-function: linear, linear, linear;
  animation-delay: 1s, 1.5s, 1.8s;
  animation-iteration-count: 1, 1, 1;
  animation-direction: normal, normal, normal; */
}

.slide.tv .snow-holder-window-slice .snow-holder-area-2{
  height: 15px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 180px;
  animation-name: jumpSnow, panUpSnow, dessolveBottomSnow;
  animation-duration: .1s, .3s, 1s;
  animation-timing-function: linear, linear, linear;
  animation-delay: 14s, 14.5s, 14.8s;
  animation-iteration-count: 1, 1, 1;
  animation-direction: normal, normal, normal;
}

.slide.tv .snow-holder-window-slice .snow-holder-area-3{
  height: 15px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 180px;
  opacity: 0;
  /* animation-name: jumpSnow, panUpSnow, dessolveBottomSnow;
  animation-duration: .1s, .3s, 1s;
  animation-timing-function: linear, linear, linear;
  animation-delay: 8s, 8.5s, 8.8s;
  animation-iteration-count: normal, normal, normal;
  animation-direction: forwards, forwards, forwards; */
}

.slide.tv .snow-holder-window-slice .snow-holder-area-4{
  height: 15px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 180px;
  animation-name: jumpSnow, panUpSnow, dessolveBottomSnow;
  animation-duration: .1s, .3s, 1s;
  animation-timing-function: linear, linear, linear;
  animation-delay: 3s, 3.5s, 3.8s;
  animation-iteration-count: 1, 1, 1;
  animation-direction: normal, normal, normal;
}


.slide.tv .snow-holder-window-slice .snow-holder{
  width: 200px;
  height: 180px;
  margin-top: -40px;
  margin-left: -20px;
  background: repeating-linear-gradient(#111, #111 50%, white 50%, white);
  background-size: 5px 5px;
  filter: url(#noise);
}

@keyframes jumpSnow{
  0% {
    margin-top: 180px;
  }
  50% {
    margin-top: 150px;
  }
  100% {
    margin-top: 180px;
  }
}

@keyframes panUpSnow{
  0% {
    margin-top: 180px;
  }
  100% {
    margin-top: -15px;
  }
}

@keyframes dessolveBottomSnow{
  0% {
    margin-top: 175px;
  }
  100% {
    margin-top: 180px;
  }
}

@keyframes panUp{
  0% {
    y: 0;
  }
  100% {
    y: -100px;
  }
}


.slide.tv .snow-holder{
  width: 180px;
  height: 180px;
  margin-top: -20px;
  margin-left: -20px;
  background: repeating-linear-gradient(#111, #111 50%, white 50%, white);
  background-size: 5px 5px;
  filter: url(#noise);
  position: relative;
}
